body{
    background-color:#34495e;
    margin: 0px;
}

iframe{
    width: 100%;
    position: fixed;
    height: 80px;   
}

main{
    width: 70%;
    background-color: white;
    top: 50px;
    margin-left: 15%;
    position:inherit;
}

nav.header{
    background-color: #2980b9;
    border: 0px;
    width: 100%;
    height: 80px;
    margin: 0px;
}

.logo{
    display: inline-block;
    padding-top: 5px;
    margin-left: 20%;
    margin-right: 10%;
    vertical-align: middle;
}

.menu{
    display: inline-block;
    margin-left: 10%;
    vertical-align: middle;
}

