body{
    background-color:#34495e;
    margin: 0px;
    font-family: Verdana;
}

iframe{
    position: fixed;
    width: 100%;    
    height: 80px;  
}

main{
    background-color: #ffffff;
    width: 70%;    
    margin-left: 10%;
    padding-left: 150px;
    padding-top:100px;    
    
}

main a{
    color: #2980b9;
}

.header{
    background-color: #2980b9;
    width: 100%;
    height: 80px;
    color: #ffffff;
    
}

.header a{
    color: #ffffff;
}

.logo{
    display: inline-block;
    padding-top: 10px;
    margin-left: 15%;
    margin-right: 10%;
    vertical-align: middle;
}

.menu{
    display: inline-block;
    margin-left: 10%;
    vertical-align: middle;
}

.wrapperLeft{
    display: inline-block;
    width: 50%;
    margin-right: 10px;
}

.wrapperRight{
    display: inline-block;
    position: fixed;
    margin: 100px;
    padding-top: 50px;    
}

.wrapperRight img{
    width: 450px;
}
